%body
  .contents
    .menu
      .chat-user
        %h4
          =current_user.name
        .chat-user__icon
          =link_to new_group_path do
            =fa_icon "pencil-square-o"
          =link_to edit_user_registration_path do
            =fa_icon "cog"
      - @groups.each do |group|
        %ul.chat-groups
          %li.chat-group
            = link_to "/messages/#{group.id}", method: :get do
              %p.chat-group__name
                =group.name
              %p.chat-group__message aaa
    .main-screen
      .main-header
        .main-header--left
          %h2=@group.name
          %p.group-menbers Members: kyota
        .main-header--right
          =link_to 'Edit', edit_group_path, class: "edit-btn"
      .main-body
        %ul.chat-messages
          %li.chat-message
            .chat-message__header.clearfix
              %p.chat-message__name aaa
              %p.chat-message__time  2017/02/23 12:12:12
            %p.chat-message__body  aaa
      .main-footer
        %form.new-message
          .main-footer__body
            %textarea.typing-box{placeholder: "type a message"}
            .main-footer__image
              =fa_icon "image"
            %input{type: "submit"}